.subscribe-button {
  background-color: rgb(204, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}
.subscribe-button:hover{
  opacity: 0.8;
}
.subscribe-button:active{
  opacity: 0.4;
}
.join-button {
  background-color: white;
  color: rgb(41, 118, 211);
  border-color: blue;
  border-style: solid;
  border-width: 1px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-color: rgb(41, 118, 211);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s,color 0.15s;
  


}
.join-button:hover{
  background-color:rgb(41, 118, 211) ;
  color: white;
}
.join-button:active{
  opacity: 0.7;
}

.tweet-button{
  background-color: rgb(2,158,255);
  border: none;
  height: 36px;
  width: 74px;
  border-radius: 18px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.tweet-button:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}

