p{
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.video-title{
  font-size: 18px;
  font-weight: bold;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}
.video-stats{
  font-size: 14px;
  color: rgb(96,96,96);
  margin-bottom: 24px;
}
.video-author{
  color: rgb(96,96,96);
  font-size: 14px;
  margin-bottom: 20px;
}
.video-desc{
  font-size: 14px;
  color: rgb(96,96,96);
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
}
.apple-text{
  font-size: 14px;
  text-align: center;
  background-color: rgb(227,65,64);
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 25px;
  padding-right: 25px;
}
.txt:hover{
  text-decoration: underline;
  cursor: pointer;

}

